.container {
  padding: 0px 300px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #007765;
}
.header .headItems {
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}
.header .headItems .headItem1,
.header .headItems .headItem2 {
  border-right: 1px solid rgb(255, 255, 255);
  margin-right: 8px;
  padding-right: 8px;
}
.header .logo h1 {
  align-items: center;
  color: #FFFFFF;
}

.block2 {
  background-image: url(/asecc/img/fonBlock2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.block2 .piper {
  padding: 160px 396px;
  font-size: 72px;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
}

.problem {
  padding-top: 48px;
  padding-bottom: 92px;
  background-color: #EEEEEE;
}
.problem .headProblem {
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
}
.problem .contentProblem {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  padding-top: 16px;
}

.block4 {
  background-image: url(/asecc/img/fonBlock4.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.block4 .contentBlock4 {
  font-weight: 500;
  font-size: 48px;
  color: #FFFFFF;
  text-align: center;
  font-style: italic;
  padding: 128px 250px;
}

.headIntro {
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
  margin-bottom: 16px;
}

.contentImg {
  display: flex;
  margin-bottom: 40px;
}
.contentImg .img {
  margin-right: 48px;
}
.contentImg .contentImage {
  font-weight: 400;
  font-size: 22px;
  font-style: italic;
  line-height: 38px;
}

.contentIntro {
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 92px;
}

.theTeam {
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
  margin-bottom: 56px;
}

.up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
}

.down {
  display: flex;
  justify-content: space-between;
  padding-bottom: 112px;
}

.employee {
  display: block;
  text-align: center;
}
.employee p {
  font-weight: 700;
  font-size: 18px;
  color: #007765;
  margin-top: -5px;
}
.employee div {
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  margin-top: -15px;
}

.team {
  background-color: #EEEEEE;
}

.footer {
  background-color: #333333;
}
.footer .contentFooter {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #EEEEEE;
  padding: 50px 200px 50px 200px;
}

@media (max-width: 1260px) {
  .container {
    padding: 0px 150px;
  }
}
@media (max-width: 960px) {
  .container {
    padding: 0 50px;
  }
}
@media (max-width: 960px) {
  .intro {
    display: block;
  }
  .intro .contentImg {
    display: block;
  }
  .img {
    float: left;
  }
}
@media (max-width: 1075px) {
  .block2 .piper {
    padding: 100px;
  }
  .block4 .contentBlock4 {
    padding: 100px 50px;
  }
}
@media (max-width: 640px) {
  .employeers {
    display: block;
  }
  .employeers .up {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .employeers .employee {
    margin-bottom: 20px;
  }
  .employeers .down {
    margin-top: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 777px) {
  .footer .contentFooter {
    padding: 40px 20px;
  }
}
@media (max-width: 504px) {
  .header .logo {
    font-size: 15px;
  }
  .header .headItems {
    font-size: 15px;
  }
  .block2 .piper {
    font-size: 50px;
  }
  .problem .headProblem {
    font-size: 50px;
  }
  .problem .contentProblem {
    font-size: 18px;
  }
  .block4 .contentBlock4 {
    font-size: 38px;
  }
  .intro .headIntro {
    font-size: 50px;
  }
}
@media (max-width: 504px) {
  .header .logo {
    font-size: 10px;
  }
  .header .headItems {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */